:root {
  /* text */
  --text-50: #f1f1f4;
  --text-100: #e4e2e9;
  --text-200: #c8c6d2;
  --text-300: #ada9bc;
  --text-400: #928da5;
  --text-500: #76708f;
  --text-600: #5f5a72;
  --text-700: #474356;
  --text-800: #2f2d39;
  --text-900: #18161d;
  --text-950: #0c0b0e;

  /* background */
  --background-50: #f1f0f5;
  --background-100: #e2e0eb;
  --background-200: #c6c2d6;
  --background-300: #a9a3c2;
  --background-400: #8d85ad;
  --background-500: #706699;
  --background-600: #5a527a;
  --background-700: #433d5c;
  --background-800: #2d293d;
  --background-900: #16141f;
  --background-950: #0b0a0f;

  /* primary */
  --primary-50: #f0eef6;
  --primary-100: #e2ddee;
  --primary-200: #c4bcdc;
  --primary-300: #a79acb;
  --primary-400: #8a78ba;
  --primary-500: #6c57a8;
  --primary-600: #574587;
  --primary-700: #413465;
  --primary-800: #2b2343;
  --primary-900: #161122;
  --primary-950: #0b0911;

  /* secondary */
  --secondary-50: #f0edf8;
  --secondary-100: #e0dbf0;
  --secondary-200: #c2b6e2;
  --secondary-300: #a392d3;
  --secondary-400: #856dc5;
  --secondary-500: #6649b6;
  --secondary-600: #523a92;
  --secondary-700: #3d2c6d;
  --secondary-800: #291d49;
  --secondary-900: #140f24;
  --secondary-950: #0a0712;

  /* accent */
  --accent-50: #ece5ff;
  --accent-100: #daccff;
  --accent-200: #b499ff;
  --accent-300: #8f66ff;
  /* main accent */
  --accent-400: #6933ff;
  --accent-500: #4400ff;
  --accent-600: #3600cc;
  --accent-700: #290099;
  --accent-800: #1b0066;
  --accent-900: #0e0033;
  --accent-950: #07001a;

  /* analogous color from main accent from kigen web */
  --electric-violet-50: #ccd8ff;
  --electric-violet-100: #b9c6ff;
  --electric-violet-200: #a6b2ff;
  --electric-violet-300: #949cff;
  --electric-violet-400: #8184ff;
  --electric-violet-500: #726eff;
  --electric-violet-600: #685bff;
  --electric-violet-700: #6148ff;
  --electric-violet-800: #5b36ff;
  --electric-violet-900: #5723ff;
  --electric-violet-1000: #5610ff;
  --electric-violet-1100: #5700fc;
  --electric-violet-1200: #5d00ea;
  --electric-violet-1300: #6000d7;
  --electric-violet-1400: #6200c4;
  --electric-violet-1500: #6200b1;
  --electric-violet-1600: #60009e;
  --electric-violet-1700: #5c008c;
  --electric-violet-1800: #560079;
  --electric-violet-1900: #4e0066;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 80%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-950);
}

.navigation {
  display: flex;
  width: 570px;
  height: 100px;
  background: linear-gradient(
    to right,
    var(--electric-violet-1700),
    var(--electric-violet-500)
  );
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.navigation ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 500px;
}

.navigation ul li {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation ul a {
  position: relative;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-50);
}

.icon {
  font-size: 1.85rem;
  transform: translateY(0px);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    color 0.4s ease, opacity 0.4s ease;
  z-index: 99;
}

.text {
  text-transform: uppercase;
  position: absolute;
  font-size: 0.95rem;
  bottom: 15px;
  letter-spacing: 0.05em;
  font-weight: 400;
  transform: translateY(-5px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.4s ease, color 0.4s ease;
}

.list.active .icon {
  transform: translateY(-53px);
  transition-delay: 0.02s;
}

.list.active .text {
  opacity: 1;
  transform: translateY(2px);
  transition-delay: 0.02s;
}

.indicator {
  position: absolute;
  width: 85px;
  height: 85px;
  background: linear-gradient(
    45deg,
    var(--electric-violet-1700),
    var(--electric-violet-500)
  );
  border: 9px solid var(--accent-950);
  top: -46px;
  left: 9px;
  transform: rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(100px * 0)) rotate(calc(45deg + (90deg * 0)));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(100px * 1)) rotate(calc(45deg + (90deg * 1)));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(100px * 2)) rotate(calc(45deg + (90deg * 2)));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(100px * 3)) rotate(calc(45deg + (90deg * 3)));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(100px * 4)) rotate(calc(45deg + (90deg * 4)));
}
